body{
    display: flex;
    width: 100%;
    font-family: 'roboto', sans-serif;
}

.left-side{
    width: 24%;
    background-color: black;
    color: white;
    height: 92vh;
    padding: 10px;
}

.bi-spotify{
    width: 20%;
    height: 10%;
}

.ls-title{
    display: flex;
    align-items: baseline;
    font-size: xx-large;
    padding: 10px;
}

.main-icons{
    display: flex;
    flex-flow: column;
    padding: 10px;
    gap: 5px;
}

ul{
    list-style-type: none;
}

.playlist{
    display: flex;
    padding: 1px;
    align-items: baseline;
    flex-flow: column;
}

.create-like{
    display: flex;
    flex-flow: column;
    gap: 5px;
    padding: 10px;
}

.installing{
    display: flex;
    padding: 175px 20px 10px 20px;
}

.playlist-text{
    display: flex;
    position: absolute;
    justify-content: space-around;
    width: 22%;
}

.right-side{
    width: 76%;
    background-image: url("./spotify-clone-imgs/DIO.jpg");
    height: 45vh;
    flex-direction: column;
    background-repeat: round;
}

.right-side-text{
    color: white;
    display: flex;
    flex-flow: column;
    height: 86%;
    justify-content: end;
    padding: 10px 10px 5px 20px;
}

.header-icons{
    padding: 12px;
    margin: 8px 0px -11px 20px;
    font-size: 125%;
}

.options-profile{
    color: white;
    height: 16%;
    display: flex;
    cursor: pointer;
    width: 38%;
}

.options-profile p{
    border-style: solid;
    border-radius: 18px;
    border-color: transparent;
    background-color: black;
    margin: 10px 20px 0px -12px;
    padding: 5px 10px 5px 10px;
}

.header-hits{
    height: 45vh;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-hits i{
    color: black;
    cursor: pointer;
}

.bi-play-fill{
    background-color: lightgreen;
    border-radius: 46%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
    padding-left: 8px;
}

.songs-list{
    background-color: black;
    background-image: linear-gradient(grey,black);
    color: white;
    width: 100%;
    height: 104.5%;
    display: flex;
    padding: 15px;
    flex-flow: column wrap;
}

.icons-list{
    font-size: 35px;
}

.subtitle-tags{
    display: flex;
    justify-content: space-between;
    color: lightgray;
}

.first-song{
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: box-shadow .3s;
    cursor: pointer;
}

.first-song:hover {
    box-shadow: 0 0 11px lightgray;
}

.first-song-text{
    width: 100%;
}

.second-song{
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: box-shadow .3s;
    cursor: pointer;
}

.second-song:hover {
    box-shadow: 0 0 11px lightgray;
}

.third-song{
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: box-shadow .3s;
    cursor: pointer;
}

.third-song:hover {
    box-shadow: 0 0 11px lightgray;
}

.list-photo{
    height: 42px;
    width: 42px;
    margin-top: 8%;
    margin-bottom: 8%;
}

.footer{
    background-color: #3d3d3e;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8%;
    text-align: center;
}

.bottom{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.bottom-arrows{
    width: 30%;
    display: flex;
    justify-content: space-around;
    height: 92%;
    align-items: center;
}

.footer-photo{
    height: 42px;
    width: 42px;
}