body{
    display: flex;
    width: 100%;
}

.left-side{
    width: 40%;
    background-color: black;
    color: white;
    height: 92vh;
}

.bi-spotify{
    width: 8%;
    height: 0%;
}

.ls-title{
    display: flex;
    align-items: baseline;
    font-size: xx-large;
}

.main-icons{
    display: flex;
}

ul{
    list-style-type: none;
}

.playlist{
    justify-content: center;
}

.right-side{
    width: 65%;
    background-image: url("./spotify-clone-imgs/DIO.jpg");
    height: 45vh;
    flex-direction: column;
}

.right-side-text{
    color: white;
}

.options-profile{
    color: white;
    height: 16%;
    display: flex;
    cursor: pointer;
    width: 36%;
}

.options-profile p{
    border-style: solid;
    border-radius: 6px;
    border-color: gray;
    background-color: black;
}

.header-hits{
    height: 45vh;
}

.header-top{
    display: flex;
    justify-content: space-between;
}

.header-hits i{
    color: black;
    cursor: pointer;
}

.songs-list{
    justify-content: center;
    background-color: black;
    background-image: linear-gradient(grey,black);
    color: white;
    width: 100%;
    height: 104.5%;
    display: flex;
    align-items: center;
}

.songs-list-ul{
    display: flex;
    list-style-image: url("./spotify-clone-imgs/DIO.jpg");
}

.songs-list-li{
    padding: 5.5rem 0rem;
    display: flex;
    flex-direction: column;
}

.list-photo{
    height: 5rem;
}

.footer{
    background-color: darkslategrey;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8%;
    text-align: center;
}

.bottom{
    display: flex;
    justify-content: space-around;
}